body {
    /* background-image: url(../images/bgimage.jpg); */
    /* background: linear-gradient(to bottom, #ffffcc 0%, #ffff99 50%); */
    background-color: #f1f4f4;
}

header,
.header_login {
    width: 100%;
    /* height: 150px; */
    margin: 0 auto;
    /* background-color: aqua; */
    /* display: flex; */
    /* background-color: #BDB4B4; */
    text-align: center;
}


/* h1 {
    font-family: "Engravers MT", fantasy, sans-serif;
    text-decoration: underline;
    font-style: italic;
} */

.headtext {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 2vw;
    /* padding: 2%; */
    margin: 0 auto;
    /* height: 100%; */
    /* text-align: center; */
    /* float: left; */
}

.lognav {
    display: flex;
    margin-bottom: -3%;
}

.lognav_login {
    display: flex;
    margin-bottom: -3%;
    /* width: 85%; */
}

.logo {
    width: 15%;
    /* height: 100%; */
    /* text-align: left; */
}

.logo_login {
    width: 25%;
    /* height: 100%; */
    /* text-align: left; */
}

.imglogo {
    max-width: 100%;
    max-height: 100%;
    padding-left: 58%;
    /* align: left; */
}

.login_nav {
    max-width: 100%;
    max-height: 100%;
}

.imglogo_login {
    max-width: 100%;
    max-height: 150px;
    /* max-height: 100%; */
    padding-left: 58%;
    /* align: left; */
    padding-left: 26%;
}

.headnav {
    /* display: inline-block; */
    width: 85%;
    text-align: right;
    padding-right: 10%;
    padding-top: 8%;
    /* padding-bottom: 5%; */
    /* bottom: 0; */
}

@media (min-width: 320px) {
    .headnav {
        padding-top: 3%
    }
}

@media (min-width: 75em) {
    .headnav {
        padding-top: 8%
    }
}

.headnav_login {
    /* display: inline-block; */
    width: 75%;
    text-align: right;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* bottom: 0; */
}


/* .headnav>a {
    margin-right: 10%;
} */

.head,
.head_login {
    width: 100%;
    /* text-align: center; */
}

.headimg {
    width: 80%;
    max-height: 300px;
    margin: 0 auto;
    /* margin-top: -4%; */
}

.headimg_login {
    width: 80%;
    max-height: 300px;
    margin: 0 auto;
    /* margin-top: -4%; */
    /* padding-top: -10px; */
    /* height: 100px; */
}

.nav,
.nav_login {
    padding: 2%;
}

h1 {
    font-size: larger;
    font-family: "Comic Sans MS";
    text-align: center;
    color: #112568;
    text-transform: uppercase;
}

a {
    /* font-weight: 100; */
    font-family: "Comic Sans MS";
    font-size: medium;
    margin: 1%;
    color: #0e3a6b;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    /* display: flex; */
    /* display: inline-block; */
}

.container_login {
    /* text-align: center; */
    width: 100%;
    margin: 0 auto;
    /* display: flex; */
    /* display: inline-block; */
}

.imagesbox {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: center;
    /* width: 80%; */
}

@media (max-width: 500px) {
    .imagesbox {
        flex-direction: column;
    }
}

.box {
    width: 20%;
    /* height: 100%; */
    border: outset 10px transparent;
    box-shadow: 1px 1px 2px 2px #112568;
    /* display: inline-block; */
    /* text-align: center; */
    margin: 1%;
    /* position: relative;  */
}

@media (max-width: 500px) {
    .box {
        width: 90%;
        margin: 1%;
        border: outset 10px transparent;
        box-shadow: 1px 1px 2px 2px #112568;
    }
}

.form {
    /* border: outset 10px transparent;
    box-shadow: 1px 1px 2px 2px #112568; */
    /* display: inline-block; */
    /* text-align: center; */
    margin: 0 auto;
    padding-top: 1%;
    /* margin: 1%; */
    /* text-align: center; */
    width: 50%;
}

.main_text {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #3c4a58;
}

.main_text_left {
    margin: 0 auto;
    width: 80%;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #3c4a58;
}

.box1 {
    /* height: 200px; */
}

.Contimg {
    max-width: 100%;
    max-height: 200px;
}

.Contimg:hover {
    transform: scale(1.5);
}

.container,
.container_login {
    margin: 0 auto;
}

.addtocart {
    /* background-color: #ffaa80; */
    max-width: 100%;
    max-height: 50px;
    /* margin-top: 10%; */
}

.contrate {
    /* position: absolute;  */
    /* margin: 0 auto; */
    /* max-height: 300px; */
    /* display: block; */
    margin-bottom: 10px;
}

.prodname {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #112568;
}

@media screen and (min-width: 50em) {
    html {
        font-size: 2vw;
    }
}

@media screen and (min-width: 75em) {
    html {
        font-size: 1.5em;
    }
}

.rate {
    /* font-weight: bold; */
    color: #D10909;
    /* font-size: 5vw; */
}

footer,
.footer_login {
    border: double 1%;
    text-align: center;
    height: 100px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #3c4a58;
}

.topbutton {
    max-width: 5%;
    /* height: 5px; */
    /* width: 48;  */
    /* background-image: url(../images/topbutton.png); */
}

.top,
.top_login {
    text-align: right;
    padding-right: 2%;
}

ul {
    list-style-type: disc
}

.cont_heading {
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

iframe {
    width: "200px";
    height: "200px";
}